<%= form_with(model: candy) do |form| %>
  <% if candy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candy.errors.count, "error") %> prohibited this candy from being saved:</h2>

      <ul>
        <% candy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field  form-group row">
      <div class="col-sm-2">
        <%= form.label :candy_name %>
      </div>   
      <div class="col-sm-4">
        <%= form.text_field :candy_name , class:"form-control", placeholder:"Enter Candy Name" %>
      </div>
  </div>

  <br/>
  <div class="field  form-group row">
    <div class="col-sm-2">
        <%= form.label :flavour %>
      </div> 
    <div class="col-sm-4">
        <%= form.text_field :flavour , class:"form-control", placeholder:"Enter  Flavour" %>
    </div>
  </div>

  <br/>

  <div class="field  form-group row">
    <div class="col-sm-2">
      <%= form.label :price %>
    </div> 
    <div class="col-sm-4">
        <%= form.number_field :price , class:"form-control", placeholder:"Enter  Price" %>
    </div>
  </div>

  <br/>
  <div class="field  form-group row">
      <div class="col-sm-3">
        <%= form.number_field :shop_id , class:"form-control", placeholder:"Enter Shop Name", value: candy.shop_id ? candy.shop_id :  params[:id], :style => "display:none;" %>
      </div>
  </div>
  <br/>

  <% if @isExisting %>
  <div class="field  form-group row">
      <div class="col-sm-2">
         Shelf Name
      </div> 
      <div class="col-sm-3">
        <%= form.select(:shelf_id, @shelf_options) %>
      </div> 
  </div> 
  <% end %>
 
  <br/>
  <br/>
  <div class="actions">
    <%= form.submit class:'btn btn-primary' %>
    <%= link_to 'Back', shelves_path(:id => candy.shop_id), class:'btn btn-dark' %> 
  </div>
<% end %>
